# Dépendances PHP
/vendor

# Fichiers d'environnement : ignorer tous sauf `.env` et `.env.example`
!.env
.env.*
!.env.prod

# Cache & logs Symfony
/var/cache
/var/log

# Fichiers divers à exclure
*.log
.DS_Store
